
@font-face {
                          font-family: "ColorTube-Regular";
                          src: url('../fonts/ColorTube-Regular.otf') format("opentype");
                        }
                        
.dattakhel {
  width               : 100%;
  min-width           : 1440px;
  height              : 100vh;
  min-height          : 10000px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(0, 0, 0, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-animate-enter16 {
  opacity             : 0;
  transform           : translate(-25px, 0);
  display             : block;
  -webkit-animation   : anima-animate-enter16-frames 0.699999988079s ease-in-out 1 normal forwards;
  -moz-animation      : anima-animate-enter16-frames 0.699999988079s ease-in-out 1 normal forwards;
  -o-animation        : anima-animate-enter16-frames 0.699999988079s ease-in-out 1 normal forwards;
  animation           : anima-animate-enter16-frames 0.699999988079s ease-in-out 1 normal forwards;
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  -o-animation-delay  : 2s;
  animation-delay     : 2s;
}
@-webkit-keyframes anima-animate-enter16-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(-25px, 0);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-moz-keyframes anima-animate-enter16-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(-25px, 0);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-o-keyframes anima-animate-enter16-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(-25px, 0);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@keyframes anima-animate-enter16-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(-25px, 0);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
.anima-animate-enter17 {
  opacity             : 0;
  transform           : translate(-25px, 0);
  display             : block;
  -webkit-animation   : anima-animate-enter17-frames 0.699999988079s ease-in-out 1 normal forwards;
  -moz-animation      : anima-animate-enter17-frames 0.699999988079s ease-in-out 1 normal forwards;
  -o-animation        : anima-animate-enter17-frames 0.699999988079s ease-in-out 1 normal forwards;
  animation           : anima-animate-enter17-frames 0.699999988079s ease-in-out 1 normal forwards;
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  -o-animation-delay  : 2s;
  animation-delay     : 2s;
}
@-webkit-keyframes anima-animate-enter17-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(-25px, 0);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-moz-keyframes anima-animate-enter17-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(-25px, 0);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-o-keyframes anima-animate-enter17-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(-25px, 0);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@keyframes anima-animate-enter17-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(-25px, 0);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
.anima-animate-enter18 {
  opacity             : 0;
  transform           : translate(-25px, 0);
  display             : block;
  -webkit-animation   : anima-animate-enter18-frames 1s ease-in-out 1 normal forwards;
  -moz-animation      : anima-animate-enter18-frames 1s ease-in-out 1 normal forwards;
  -o-animation        : anima-animate-enter18-frames 1s ease-in-out 1 normal forwards;
  animation           : anima-animate-enter18-frames 1s ease-in-out 1 normal forwards;
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  -o-animation-delay  : 0.5s;
  animation-delay     : 0.5s;
}
@-webkit-keyframes anima-animate-enter18-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(-25px, 0);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-moz-keyframes anima-animate-enter18-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(-25px, 0);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-o-keyframes anima-animate-enter18-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(-25px, 0);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@keyframes anima-animate-enter18-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(-25px, 0);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
.anima-animate-enter19 {
  opacity             : 0;
  transform           : translate(0, -25px);
  display             : block;
  -webkit-animation   : anima-animate-enter19-frames 1s ease-in-out 1 normal forwards;
  -moz-animation      : anima-animate-enter19-frames 1s ease-in-out 1 normal forwards;
  -o-animation        : anima-animate-enter19-frames 1s ease-in-out 1 normal forwards;
  animation           : anima-animate-enter19-frames 1s ease-in-out 1 normal forwards;
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  -o-animation-delay  : 0.5s;
  animation-delay     : 0.5s;
}
@-webkit-keyframes anima-animate-enter19-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, -25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-moz-keyframes anima-animate-enter19-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, -25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-o-keyframes anima-animate-enter19-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, -25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@keyframes anima-animate-enter19-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, -25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
.dattakhel .websitecomposite {
  background-color    : rgba(255,255,255,0.0);
  top                 : 599px;
  height              : 806px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dattakhel .websitecomposite2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1388px;
  height              : 806px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dattakhel .websitecomposite3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2197px;
  height              : 806px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dattakhel .aysebio {
  background-color    : rgba(255,255,255,0.0);
  top                 : 106px;
  height              : 437px;
  width               : 715px;
  position            : absolute;
  margin              : 0;
  left                : 665px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dattakhel .aysebio1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 242px;
  height              : 429px;
  width               : 607px;
  position            : absolute;
  margin              : 0;
  left                : 760px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dattakhel .profs {
  background-color    : rgba(255,255,255,0.0);
  top                 : 159px;
  height              : 455px;
  width               : 416px;
  position            : absolute;
  margin              : 0;
  left                : 363px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dattakhel .profs .bitmap3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 277px;
  width               : 185px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dattakhel .profs .bitmap1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 83px;
  height              : 277px;
  width               : 185px;
  position            : absolute;
  margin              : 0;
  left                : 107px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dattakhel .profs .bitmap2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 179px;
  height              : 276px;
  width               : 184px;
  position            : absolute;
  margin              : 0;
  left                : 232px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dattakhel .projectdetails {
  background-color    : rgba(255,255,255,0.0);
  top                 : 156px;
  height              : 283px;
  width               : 339px;
  position            : absolute;
  margin              : 0;
  left                : 33px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dattakhel .a2018 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 42px;
  height              : 60px;
  width               : 97px;
  position            : absolute;
  margin              : 0;
  left                : 1088px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dattakhel .topbar {
  background-color    : rgba(255,255,255,0.0);
  top                 : -18px;
  height              : 152px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dattakhel .topbar .topbarframe {
  background-color    : rgba(255,255,255,0.0);
  top                 : 18px;
  height              : 69px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dattakhel .topbar .businesscard {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 152px;
  width               : 152px;
  position            : absolute;
  margin              : 0;
  left                : 63px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dattakhel .bitmap {
  background-color    : rgba(255,255,255,0.0);
  top                 : 509px;
  height              : 105px;
  width               : 478px;
  position            : absolute;
  margin              : 0;
  left                : 863px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dattakhel .bitmap .bitmap1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 105px;
  width               : 478px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dattakhel .rectangle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2600px;
  height              : 1136px;
  box-sizing          : border-box;
  width               : 945px;
  position            : absolute;
  margin              : 0;
  left                : 54px;
  border-style        : solid;
  border-width        : 6px;
  border-color        : rgba(225, 180, 51, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dattakhel .rectangle1 {
  background-color    : rgba(255,255,255,0.0);
  flex-direction      : row;
  top                 : 2606px;
  align-items         : center;
  height              : 1124px;
  width               : 933px;
  justify-content     : center;
  position            : absolute;
  flex-wrap           : wrap;
  margin              : 0;
  display             : flex;
  left                : 60px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}