
@font-face {
                          font-family: "VelodromaBasic-Wide";
                          src: url('../fonts/VelodromaBasic-Wide.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "Sequel100Wide-45Wide";
                          src: url('../fonts/OGJ Type Design - Sequel 100 Wide 45 Wide.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "Sequel100Wide-56Wide";
                          src: url('../fonts/OGJ Type Design - Sequel 100 Wide 56 Wide.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "Sequel100Wide-65Wide";
                          src: url('../fonts/OGJ Type Design - Sequel 100 Wide 65 Wide.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "New-Gulim";
                          src: url('../fonts/new gulim Font Download.ttf') format("truetype");
                        }
                        @font-face {
                          font-family: "Sequel100Wide-55Wide";
                          src: url('../fonts/OGJ Type Design - Sequel 100 Wide 55 Wide.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "Sequel100Wide-76Wide";
                          src: url('../fonts/OGJ Type Design - Sequel 100 Wide 76 Wide.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "Sequel100Wide-75Wide";
                          src: url('../fonts/OGJ Type Design - Sequel 100 Wide 75 Wide.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "Sequel100Wide-46Wide";
                          src: url('../fonts/OGJ Type Design - Sequel 100 Wide 46 Wide.otf') format("opentype");
                        }
                        
.handbag {
  width               : 100%;
  min-width           : 1440px;
  height              : 100vh;
  min-height          : 4579px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-animate-enter30 {
  opacity             : 0;
  transform           : translate(0, -25px);
  display             : block;
  -webkit-animation   : anima-animate-enter30-frames 1s ease-in-out 1 normal forwards;
  -moz-animation      : anima-animate-enter30-frames 1s ease-in-out 1 normal forwards;
  -o-animation        : anima-animate-enter30-frames 1s ease-in-out 1 normal forwards;
  animation           : anima-animate-enter30-frames 1s ease-in-out 1 normal forwards;
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  -o-animation-delay  : 0.5s;
  animation-delay     : 0.5s;
}
@-webkit-keyframes anima-animate-enter30-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, -25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-moz-keyframes anima-animate-enter30-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, -25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-o-keyframes anima-animate-enter30-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, -25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@keyframes anima-animate-enter30-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, -25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
.anima-animate-enter31 {
  opacity             : 0;
  transform           : translate(-25px, 0);
  display             : block;
  -webkit-animation   : anima-animate-enter31-frames 0.699999988079s ease-in-out 1 normal forwards;
  -moz-animation      : anima-animate-enter31-frames 0.699999988079s ease-in-out 1 normal forwards;
  -o-animation        : anima-animate-enter31-frames 0.699999988079s ease-in-out 1 normal forwards;
  animation           : anima-animate-enter31-frames 0.699999988079s ease-in-out 1 normal forwards;
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  -o-animation-delay  : 2s;
  animation-delay     : 2s;
}
@-webkit-keyframes anima-animate-enter31-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(-25px, 0);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-moz-keyframes anima-animate-enter31-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(-25px, 0);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-o-keyframes anima-animate-enter31-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(-25px, 0);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@keyframes anima-animate-enter31-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(-25px, 0);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
.anima-animate-enter32 {
  opacity             : 0;
  transform           : translate(-25px, 0);
  display             : block;
  -webkit-animation   : anima-animate-enter32-frames 0.699999988079s ease-in-out 1 normal forwards;
  -moz-animation      : anima-animate-enter32-frames 0.699999988079s ease-in-out 1 normal forwards;
  -o-animation        : anima-animate-enter32-frames 0.699999988079s ease-in-out 1 normal forwards;
  animation           : anima-animate-enter32-frames 0.699999988079s ease-in-out 1 normal forwards;
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  -o-animation-delay  : 2s;
  animation-delay     : 2s;
}
@-webkit-keyframes anima-animate-enter32-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(-25px, 0);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-moz-keyframes anima-animate-enter32-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(-25px, 0);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-o-keyframes anima-animate-enter32-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(-25px, 0);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@keyframes anima-animate-enter32-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(-25px, 0);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
.anima-animate-enter33 {
  opacity             : 0;
  transform           : translate(-25px, 0);
  display             : block;
  -webkit-animation   : anima-animate-enter33-frames 0.699999988079s ease-in-out 1 normal forwards;
  -moz-animation      : anima-animate-enter33-frames 0.699999988079s ease-in-out 1 normal forwards;
  -o-animation        : anima-animate-enter33-frames 0.699999988079s ease-in-out 1 normal forwards;
  animation           : anima-animate-enter33-frames 0.699999988079s ease-in-out 1 normal forwards;
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  -o-animation-delay  : 2s;
  animation-delay     : 2s;
}
@-webkit-keyframes anima-animate-enter33-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(-25px, 0);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-moz-keyframes anima-animate-enter33-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(-25px, 0);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-o-keyframes anima-animate-enter33-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(-25px, 0);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@keyframes anima-animate-enter33-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(-25px, 0);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
.anima-animate-enter34 {
  opacity             : 0;
  transform           : translate(-25px, 0);
  display             : block;
  -webkit-animation   : anima-animate-enter34-frames 1s ease-in-out 1 normal forwards;
  -moz-animation      : anima-animate-enter34-frames 1s ease-in-out 1 normal forwards;
  -o-animation        : anima-animate-enter34-frames 1s ease-in-out 1 normal forwards;
  animation           : anima-animate-enter34-frames 1s ease-in-out 1 normal forwards;
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  -o-animation-delay  : 0.5s;
  animation-delay     : 0.5s;
}
@-webkit-keyframes anima-animate-enter34-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(-25px, 0);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-moz-keyframes anima-animate-enter34-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(-25px, 0);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-o-keyframes anima-animate-enter34-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(-25px, 0);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@keyframes anima-animate-enter34-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(-25px, 0);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
.handbag .a2018 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 42px;
  height              : 51px;
  width               : 80px;
  position            : absolute;
  margin              : 0;
  left                : 1086px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.handbag .topbar {
  background-color    : rgba(255,255,255,0.0);
  top                 : -18px;
  height              : 152px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.handbag .topbar .topbarframe {
  background-color    : rgba(255,255,255,0.0);
  top                 : 18px;
  height              : 69px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.handbag .topbar .businesscard {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 152px;
  width               : 152px;
  position            : absolute;
  margin              : 0;
  left                : 63px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.handbag .portfolio6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 824px;
  height              : 864px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.handbag .portfolio7 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1747px;
  height              : 864px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.handbag .portfolio8 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2636px;
  height              : 864px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.handbag .portfolio5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3559px;
  height              : 864px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.handbag .aysebio {
  background-color    : rgba(255,255,255,0.0);
  top                 : 118px;
  height              : 222px;
  width               : 580px;
  position            : absolute;
  margin              : 0;
  left                : 595px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.handbag .aysebio1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 340px;
  height              : 293px;
  width               : 646px;
  position            : absolute;
  margin              : 0;
  left                : 440px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.handbag .aysebio2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 555px;
  height              : 172px;
  width               : 565px;
  position            : absolute;
  margin              : 0;
  left                : 511px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.handbag .profs {
  background-color    : rgba(255,255,255,0.0);
  top                 : 134px;
  height              : 346px;
  width               : 328px;
  position            : absolute;
  margin              : 0;
  left                : 354px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.handbag .profs .leverichbob20142 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 317px;
  width               : 212px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.handbag .profs .bitmap1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 205px;
  height              : 141px;
  width               : 155px;
  position            : absolute;
  margin              : 0;
  left                : 173px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.handbag .profs .bitmap1 .bitmap2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 141px;
  width               : 155px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.handbag .projectdetails {
  background-color    : rgba(255,255,255,0.0);
  top                 : 169px;
  height              : 269px;
  width               : 314px;
  position            : absolute;
  margin              : 0;
  left                : 57px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.handbag .bitmap {
  background-color    : rgba(255,255,255,0.0);
  top                 : 537px;
  height              : 223px;
  width               : 491px;
  position            : absolute;
  margin              : 0;
  left                : 81px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.handbag .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 254px;
  height              : 370px;
  width               : 290px;
  position            : absolute;
  margin              : 0;
  left                : 1086px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.handbag .group .a2015heinecciusjulia3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 335px;
  width               : 224px;
  position            : absolute;
  margin              : 0;
  left                : 66px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.handbag .group .bitmap1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 172px;
  height              : 198px;
  width               : 126px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.handbag .group .bitmap1 .bitmap2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 198px;
  width               : 126px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.handbag .a2512019oomungvarma {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4535px;
  height              : auto;
  width               : 736px;
  position            : absolute;
  margin              : 0;
  left                : 58px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Avenir-Book", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(67, 67, 67, 1.0);
  text-align          : left;
  letter-spacing      : 1.33px;
  line-height         : 16.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}