

.smartobjects {
  width               : 100%;
  min-width           : 1440px;
  height              : 100vh;
  min-height          : 10000px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-animate-enter5 {
  opacity             : 0;
  transform           : translate(0, -153px);
  display             : block;
  -webkit-animation   : anima-animate-enter5-frames 1s ease-in-out 1 normal forwards;
  -moz-animation      : anima-animate-enter5-frames 1s ease-in-out 1 normal forwards;
  -o-animation        : anima-animate-enter5-frames 1s ease-in-out 1 normal forwards;
  animation           : anima-animate-enter5-frames 1s ease-in-out 1 normal forwards;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-delay  : 1s;
  animation-delay     : 1s;
}
@-webkit-keyframes anima-animate-enter5-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, -153px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-moz-keyframes anima-animate-enter5-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, -153px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-o-keyframes anima-animate-enter5-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, -153px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@keyframes anima-animate-enter5-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, -153px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
.anima-animate-enter6 {
  opacity             : 0;
  transform           : translate(-25px, 0);
  display             : block;
  -webkit-animation   : anima-animate-enter6-frames 1s ease-in-out 1 normal forwards;
  -moz-animation      : anima-animate-enter6-frames 1s ease-in-out 1 normal forwards;
  -o-animation        : anima-animate-enter6-frames 1s ease-in-out 1 normal forwards;
  animation           : anima-animate-enter6-frames 1s ease-in-out 1 normal forwards;
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  -o-animation-delay  : 0.5s;
  animation-delay     : 0.5s;
}
@-webkit-keyframes anima-animate-enter6-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(-25px, 0);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-moz-keyframes anima-animate-enter6-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(-25px, 0);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-o-keyframes anima-animate-enter6-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(-25px, 0);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@keyframes anima-animate-enter6-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(-25px, 0);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
.anima-animate-enter7 {
  opacity             : 0;
  transform           : translate(0, -25px);
  display             : block;
  -webkit-animation   : anima-animate-enter7-frames 1s ease-in-out 1 normal forwards;
  -moz-animation      : anima-animate-enter7-frames 1s ease-in-out 1 normal forwards;
  -o-animation        : anima-animate-enter7-frames 1s ease-in-out 1 normal forwards;
  animation           : anima-animate-enter7-frames 1s ease-in-out 1 normal forwards;
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  -o-animation-delay  : 0.5s;
  animation-delay     : 0.5s;
}
@-webkit-keyframes anima-animate-enter7-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, -25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-moz-keyframes anima-animate-enter7-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, -25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-o-keyframes anima-animate-enter7-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, -25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@keyframes anima-animate-enter7-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, -25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
.smartobjects .callsareresponded {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5436px;
  height              : 847px;
  width               : 1147px;
  position            : absolute;
  margin              : 0;
  left                : 180px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.smartobjects .usersputout {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4505px;
  height              : 847px;
  width               : 1137px;
  position            : absolute;
  margin              : 0;
  left                : 152px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.smartobjects .herocaption {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3503px;
  height              : 918px;
  width               : 1461px;
  position            : absolute;
  margin              : 0;
  left                : 213px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.smartobjects .herotouching {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2757px;
  height              : 662px;
  width               : 1155px;
  position            : absolute;
  margin              : 0;
  left                : 133px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.smartobjects .quoteandgraph {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1051px;
  height              : 947px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.smartobjects .introducing {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1811px;
  height              : 847px;
  width               : 1174px;
  position            : absolute;
  margin              : 0;
  left                : 188px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.smartobjects .wespeak2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 682px;
  height              : 322px;
  width               : 1105px;
  position            : absolute;
  margin              : 0;
  left                : 208px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.smartobjects .wespeak2 .wespeak {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 322px;
  width               : 1105px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.smartobjects .wespeak2 .wespeak .wespeakdrop2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 165px;
  height              : 157px;
  width               : 754px;
  position            : absolute;
  margin              : 0;
  left                : 351px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.smartobjects .wespeak2 .wespeak .wespeakdrop2 .wespeakdrop {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 157px;
  width               : 754px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.smartobjects .wespeak2 .wespeak .wespeaktoiot2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 205px;
  width               : 1105px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.smartobjects .wespeak2 .wespeak .wespeaktoiot2 .wespeaktoiot {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 205px;
  width               : 1105px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.smartobjects .projectdetails {
  background-color    : rgba(255,255,255,0.0);
  top                 : 168px;
  height              : 269px;
  width               : 314px;
  position            : absolute;
  margin              : 0;
  left                : 56px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.smartobjects .a2018 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 42px;
  height              : 51px;
  width               : 80px;
  position            : absolute;
  margin              : 0;
  left                : 1086px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.smartobjects .topbar {
  background-color    : rgba(255,255,255,0.0);
  top                 : -18px;
  height              : 152px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.smartobjects .topbar .topbar1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 18px;
  height              : 69px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.smartobjects .topbar .businesscard {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 152px;
  width               : 152px;
  position            : absolute;
  margin              : 0;
  left                : 63px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}